// GLOBAL STYLES

// variables
$primaryColor: #1d1d1d;
$secondaryColor: #f1f3f3;
$thirdColor: #5d5e5d;
$fourthColor: #8ecceb;
$accentColor: #0e5f88;

// mixins
@mixin primaryFont($fontSize) {
    font-size: $fontSize * 1px;
    font-size: ($fontSize / 10) * 1rem;
    font-family: 'Montserrat', sans-serif;
} 

@mixin secondaryFont($fontSize) {
    font-size: $fontSize * 1px;
    font-size: ($fontSize / 10) * 1rem;
    font-family: 'Open Sans', sans-serif;
}

// general styles
.wrapper {
    max-width: 1280px;
    width: 65%;
    margin: 0 auto;
}

.list {
    padding: 0;
    margin: 0;
}

.point {
    line-height: 2;
    list-style: none;
}

.section-spacing {
    margin: 0 auto;
    padding: 55px 0;
}

// typography 
html {
    font-size: 62.5%;
}

.heading {
    text-transform: uppercase;
    font-weight: 700;
    color: $primaryColor;
}

.header-menu_heading {
    @include primaryFont(28);
}

.section-heading {
    @include primaryFont(24);
    text-align: center;
    margin: 0 0 32px 0; 
}

.section-subheading {
    @include primaryFont(18);
    margin: 10px 0 0 0;
}

.services-section_subheading {
    @include primaryFont(13.5);
}

.paragraph-big {
    @include secondaryFont(13.5);
}

.paragraph-small {
    @include secondaryFont(10);
}

.paragraph-big,
.paragraph-small {
    text-align: center;
    line-height: 1.5;
    margin-top: 0;
    font-weight: 300;
}

.link {
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: $primaryColor;
    transition: color 0.3s ease-in-out;
}

.section-button {
    @include primaryFont(13.5);
    font-weight: 700;
    text-transform: uppercase;
    background-color: $accentColor;
    border: 1px solid $accentColor;
    color: white;
    border-radius: 7px;
    padding: 8px 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: $fourthColor;
        border: 1px solid $fourthColor;
        color: $accentColor;
    }
}

.section-img {
    width: 100%;
}
// GLOBAL STYLES END