// SECTION 5 (PROJECTS) STYLES
// ( *note: this is part of MAIN SECTION, and part 1 of 2 Services Sections)

.project-section_heading,
.project-section_info {
    color: $secondaryColor;
}

.project-section_gallery {
    display: flex;
    flex-wrap: wrap;
}

.project-section_img {
    width: 25%;
    height: 25.5vh;
}

.project-section_img--1 {
    background: url(../assets/image-6.jpeg);
    background-size: cover;
}

.project-section_img--2 {
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(../assets/image-7.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}

.project-section_info {
    border: 1px solid $secondaryColor;
    border-radius: 6px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px 6.5px;;
}

.project-section_heading,
.project-section_text {
    width: 100%;
}

.project-section_text {
    padding-top: 10px;
}

.project-section_img--3 {
    background: url(../assets/image-8.jpeg);
    background-size: cover;
}

.project-section_img--4 {
    background: url(../assets/image-9.jpeg);
    background-size: cover;
}

// END OF SECTION 5 (PROJECTS) STYLES